body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

.navcontainer {
  margin: 0 10% 0 10%;
  display: flex;
  flex-direction: column;
  padding-top: 3px;
}

.logobox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 67px;

  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.yiis {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi {
  margin: 20px;
}

ul {
  margin: 0px;
}



.ad {
  padding: 0.8rem;
  text-align: center;
  background-color: rgba(240, 240, 240, 0.55);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-family: sans-serif;
  font-size: 17px;
}

.LogoBottom {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: bold;
}

.navcontainerbottom {
  display: flex;
  flex-direction: column;
  background: black;
  
}

.navigationbottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10% 0 11%;
}

@media screen and (max-width: 1200px) {
  .maincontainer {
    display: grid;
    grid-template-columns: 11% 0.5fr 10%;
    grid-template-rows: 5% 1fr 1.5fr 0.5fr 15% 3fr 1fr;
  }


  .buybuton {
    grid-row: 7/8;
    grid-column: 2/3;
    margin: 0px;
  }
  .navcontainerbottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px;
    background: black;
  }

  .navigationbottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10% 0 12%;
  }
}



  .maincontainer {
    display: grid;
    grid-template-columns: 11% 0.6fr 10% 1fr 11%;
    grid-template-rows: 15% 2fr 3fr 2fr 2.53fr 15%;
  }

  .Title {
    margin-top: 100px;
    margin: 0;
    font-family: "Roboto", sans-serif;
  font-style: bold;
  font-size: 60px;
    grid-column: 2/3;
    grid-row:2/3;
  }

  .desc {
    height:100%;
    display: flex;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    grid-column: 2/3;
    grid-row:3/4;
    margin-top: 60px;
  }

  .offer {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    margin-top: 40px;
    grid-column: 2/3;
    grid-row:4/5;
    justify-content: space-between;
  }

  .offer2 {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    grid-column: 2/3;
    grid-row:4/5;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
  }

 .linethough {
  display: flex;
  justify-content: flex-end;
   text-decoration: line-through;
   grid-column: 2/3;
    grid-row:4/5;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    margin: 0;
    margin-right: 10px;
   
 }

 .buybuton {
   
  width: 100%;
  height: fit-content;
  margin-top: 4%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  grid-column: 2/3;
  grid-row:5/6;

  button {
    background-color: black;
    color: white;
    padding: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    font-weight: 550;
  }
 }

 .fashion {
   
   grid-column: 4/5;
  grid-row:2/6;
  width: 100%;
  align-items: center;
  justify-content: center;
  
   

   img {
     max-width: 100%;
     max-height: 100%;
   }
 }


 .price {
   display: flex;
 }


@media screen and (max-width: 650px) {
  .desc {
    font-size: 25px;
  }
}



@media screen and (max-width: 550px) {

  .maincontainer {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 10% 1fr 1fr 1fr 1fr 15% 1fr ;
  }

  .offer {
    font-size: 20px;
  }

  .offer2 {
    font-size: 20px;
  }

  .linethough {
    font-size: 20px;
  }
  
    .yiis {
      padding: 0px;
    }
  
    .navcontainer {
      margin: 0 5% 0 5%;
      display: flex;
      flex-direction: column;
      padding-top: 3px;
  
      svg {
        margin: 0px;
        margin-left: 20px;
      }
    }
  
  
    .yiisbottom {
      padding: 0px;
  
      
    }
    .navigationbottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 5% 0 10%;
  
      svg {
          margin:0 5px 0px 5px;
      }
  
    }
  
  
     
    
  }

  @media screen and (max-width: 300px) {
      .LogoBottom {
          font-size: 90%;
      }
  }

  @media screen and (max-width: 1200px) {

    .maincontainer {
      display: grid;
      grid-template-columns: 11% 1fr 11%;
      grid-template-rows: 15% 0.5fr 0.5fr 0.5fr 0.5fr 10% 5%;
    }
    
    .fashion {
   
      grid-column: 2/3;
     grid-row:5/6;
     width: 100%;
     align-items: center;
     justify-content: center;
     
      
   
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .buybuton {
   
     
      grid-column: 2/3;
      grid-row:6/7;
    
      
     }

  }

  @media screen and (max-width: 450px) {
    .Title {
      margin-top: 100px;
    margin: 0;
    font-family: "Roboto", sans-serif;
  font-style: bold;
  font-size: 50px;
    
    }

    .desc {
      font-size: 20px;
      margin-top: 20px;
    }

    .maincontainer {
      display: grid;
      grid-template-columns: 7% 1fr 7%;
      grid-template-rows: 10% 0.5fr 0.8fr 0.5fr 1fr 20% 0.5fr;
    }

    .offer {
      font-size: 20px;
    }

    .offer2 {
      font-size: 20px;
    }

    .linethough {
      font-size: 20px;
    }
}

@media screen and (max-width: 380px) {
  .offer {
    font-size: 15px;
  }

  .offer2 {
    font-size: 15px;
  }

  .linethough {
    font-size: 15px;
  }
}

@media screen and (max-width: 650px) {
  .maincontainer {
    display: grid;
    grid-template-columns: 7% 1fr 7%;
    grid-template-rows: 10% 0.5fr 0.8fr 0.5fr 1fr 10% 0.5fr;
  }
}