body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

.navcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3px;
  background-color: white;
}

img {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10% 0 10%;
}

.bi {
  margin: 20px;
}

ul {
  margin: 0px;
}

@media screen and (max-width: 560px) {
  ul {
    padding: 0px;
  }
  img {
    width: 170px;
  }
  .bi {
    margin: 0 10px 0 10px;
    width: 20px;
  }
}

.ad {
  padding: 0.8rem;
  text-align: center;
  background-color: black;
  font-family: sans-serif;
  font-size: 17px;
  color: white;
}

.maintitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 50px;
  font-family: "Roboto", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 60px;
}

.maincontainer {
  background-color: white;
  height: auto;
  margin: 0 11% 0 11%;
  border-radius: 25px;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin: auto;
}

.arrowbox {
  margin: 0 0 0 30px;
}

.filters {
  margin: 10px 30px 0 30px;
}

.filters select {
  margin: 0 0 0 0;
}

#cars {
  width: 140px;
  padding: 6px;
  font-size: 16px;
  border: 1.5px solid #e5e5e5;
  color: #9b9b9b;
  background-color: white;
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

.productcontainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1% 1fr 1fr 1%;
      grid-template-rows: 1% 1fr 1fr 1%;
  grid-gap: 1rem;
  row-gap: 2rem;
  margin: 30px;
  margin-top: 0px;
  position: relative;
}

.product {
  background-color: rgba(0, 0, 0, 0.062);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}

.product h2 {
  text-align: end;
}

.first {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.second {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.imgdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70%;
}

.imgdiv img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.third {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.fourth {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.secondfirst {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.secondsecond {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.secondthird {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.secondfourth {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.producttitle {
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  margin-top: 10px;
  padding-bottom: 5px;
}

.bi-star-fill {
  margin: 0px;
}

.bottompricecontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2% 5% 0 5%;
}

.leftrev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.starsvg {
  padding: 0 5% 0 5%;
}

.price {
  font-family: "Roboto", sans-serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 0;
  margin-top: 0;
}

.navcontainerbottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  background: black;
  margin-top: 5%;
}

.navigationbottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10% 0 11%;
}

h5 {
  text-decoration: line-through;
  margin-top: 40px;
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: bold;
  font-size: 30px;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-left: 280px;
}

@media screen and (max-width: 1260px) {
  .price {
    font-size: 18px;
  }
  .leftrev {
    font-size: 18px;
  }
}

@media screen and (max-width: 1260px) {
  .price {
    font-size: 15px;
  }
  .leftrev {
    font-size: 15px;
  }
  .leftrev svg {
    width: 15px;
  }
}

@media screen and (max-width: 1000px) {
  .productcontainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1% 1fr 1fr 1fr 1fr;
        grid-template-rows: 1% 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    row-gap: 2rem;
    margin: 30px;
  }
  .first {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .second {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .third {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .fourth {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .secondfirst {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .secondsecond {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .secondthird {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .secondfourth {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .price {
    font-size: 18px;
  }
  .leftrev {
    font-size: 18px;
  }
  .leftrev svg {
    width: 18px;
  }
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.arrow svg {
  margin: 10px 0 0px 0;
}

.pagesdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.pages {
  margin: 0 10px 30px 10px;
  width: 40px;
  height: 40px;
}

.buttonstyle {
  width: 40px;
  height: 40px;
  background-color: black;
  border: 0;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 0px;
  border-radius: 5px;
}

.buttonstyle:hover {
  cursor: pointer;
}

.bi-arrow-right-short {
  padding: 0px;
  margin: 0px;
}

.LogoBottom {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: bold;
}

@media screen and (max-width: 700px) {
  .filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .filters #cars {
    margin: 5px 0 5px 0;
    width: 200px;
  }
  .productcontainer {
    margin-top: 0px;
  }
  .leftrev {
    font-size: 16px;
  }
  .leftrev svg {
    width: 16px;
  }
}

.topcontent {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.topcontent select {
  margin: 0 10px 0 10px;
}

@media screen and (max-width: 600px) {
  .filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: auto;
  }
  #cars {
    width: 150px;
    margin-bottom: 10px;
  }
  .productcontainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1% 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1% 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    row-gap: 2rem;
    margin: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .first {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .second {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .third {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .fourth {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  .secondfirst {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
  }
  .secondsecond {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
  }
  .secondthird {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    grid-row: 9/10;
  }
  .secondfourth {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .price {
    font-size: 18px;
  }
  .pagesdiv {
    margin-top: 40px;
  }
}

@media screen and (max-width: 450px) {
  .arrowbox svg {
    width: 35px;
    height: 35px;
  }
  .button4 {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  .arrowbox svg {
    width: 45px;
    height: 45px;
  }
}

@media screen and (max-width: 360px) {
  .button3 {
    display: none;
  }
}
/*# sourceMappingURL=store.css.map */