body {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

.navcontainer {
  margin: 0 10% 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3px;
}

img {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bi {
  margin: 20px;
}

ul {
  margin: 0px;
}

.ad {
  padding: 0.8rem;
  text-align: center;
  background-color: rgba(240, 240, 240, 0.55);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-family: sans-serif;
  font-size: 17px;
}

.maincontainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 11% 1.6fr 10% 3fr 10%;
      grid-template-columns: 11% 1.6fr 10% 3fr 10%;
  -ms-grid-rows: 10% 1fr 1.5fr 0.5fr 15%;
      grid-template-rows: 10% 1fr 1.5fr 0.5fr 15%;
}

.Title {
  font-family: "Roboto", sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size: 60px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.desc {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.offer {
  margin-top: 40px;
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: bold;
  font-size: 30px;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.buybuton {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: bold;
  font-size: 20px;
  color: white;
  background: black;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  height: 68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0px;
}

.buybuton:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.fashion {
  position: relative;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 5;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  content: cover;
}

@media screen and (max-width: 900px) {
  .buybuton {
    height: 8%;
    padding: 0px;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    margin: 0px;
  }
}

@media screen and (max-width: 1200px) {
  .maincontainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 11% 1.6fr 10%;
        grid-template-columns: 11% 1.6fr 10%;
    -ms-grid-rows: 10% 1fr 1.5fr 0.5fr 15% 40% 3fr 3fr;
        grid-template-rows: 10% 1fr 1.5fr 0.5fr 15% 40% 3fr 3fr;
  }
  .fashion {
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 7;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
  }
  .buybuton {
    height: 10%;
    padding: 30px;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    margin: 0px;
    margin-bottom: px;
  }
  .navcontainerbottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px;
    background: black;
  }
}

@media screen and (max-width: 900px) {
  .maincontainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 11% 1.6fr 10%;
        grid-template-columns: 11% 1.6fr 10%;
    -ms-grid-rows: 10% 1fr 1.5fr 0.5fr 15% 30% 1fr 2fr;
        grid-template-rows: 10% 1fr 1.5fr 0.5fr 15% 30% 1fr 2fr;
  }
  .fashion {
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 7;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
  }
  .buybuton {
    padding: 30px;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    margin: 0px;
  }
}

.LogoBottom {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: bold;
}

.navcontainerbottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  background: black;
  margin-top: 5.2%;
}

.navigationbottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10% 0 11%;
}

h5 {
  text-decoration: line-through;
  margin-top: 40px;
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: bold;
  font-size: 30px;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-left: 280px;
}

.offer2 {
  margin-top: 40px;
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: bold;
  font-size: 30px;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-left: 400px;
}
/*# sourceMappingURL=indexold.css.map */